@import "pure";
@import "typography";
@import "header";
@import "menu";
@import "entry";
@import "footer";
@import "home";

#container {
    padding-top: 1em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.test {
	color: white;
}
